*.opendb
*.db
*.user
*.csproj
*.sln
/Library/
/MemoryCaptures/
/Temp/
/obj/
/.idea/
/.vs/
/Assembly-CSharp.csproj.DotSettings
*.userproperties
.vscode/
.vsconfig
Assets/GeneratedLocalRepo/
Assets/GeneratedLocalRepo.meta
Logs/ApiUpdaterCheck.txt
Assets/Editor/SpineSettings.asset
.DS_Store
/Logs
UserSettings/Layouts/default-2021.dwlt
fbg.log
UserSettings/EditorUserSettings.asset
